a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    color: #1F5014;
    text-decoration: none;
}

.login:hover, .sign-up:hover, .learn-more:hover {
    background-color: inherit; 
    color: inherit; 
    cursor: pointer; 
    border: 1px solid inherit; 
}

body {
    font-family: "SoDo Sans SemiBold", Helvetica Neue, Helvetica, Arial, sans-serif;
    margin: 0px;
}


.navbar-left img:hover {
    cursor: pointer;
}

.navbar-left img{
    width: 90px;
    margin: 0px;
}

.navbar {
    z-index: 1000;
    position: fixed;
    padding: 10px 200px;
    font-size: 17px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 1px 3px 4px 0px rgba(34,97,38,0.7);
    -webkit-box-shadow: 1px 3px 4px 0px rgba(34,97,38,0.7);
    -moz-box-shadow: 1px 3px 4px 0px rgba(34,97,38,0.7);
    background-color: white;
    width: 100%;
    box-sizing: border-box;
}

.navbar-left div{
    text-transform: uppercase;
    font-weight: 500;
}

.navbar-left > *, .navbar-right > * {
    margin: 10px;
}

.navbar-left, .navbar-right {
    display: flex;
    align-items: center;
}

.app-download {
    display: flex;
    align-items: center;
    font-weight: 300;
    padding-right: 20px;
}

.login, .sign-up {
    font-weight: 200;
    border: 1px solid black;
    border-radius: 40px;
    padding: 5px 20px;
}

.sign-up {
    background-color: black;
    color: white;
}

.login:hover {
    background-color: rgba(0,0,0,0.07);
    cursor: pointer;
}

.sign-up:hover {
    background-color: rgba(0,0,0,0.7);
    cursor: pointer;
    color: white;
}

.navbar-left div:hover, .app-download:hover {
    cursor: pointer;
    color: #1F5014;
}

main {
    display: column;
    padding: 10px 200px;
    border-top-width: 10px;
}

.banner {
    top: 110px;
    background-color: #1F5014;
    width: 100%;
    height: 560px;
    background-image: linear-gradient(to bottom right, #1F5014, #6ab420);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: nowrap;
    position: relative;
    overflow: hidden;
}

.quote {
    position: relative;
    margin: 20px auto;
    padding: 20px;
    padding-bottom: 50px;
    text-align: center;
    background-color: #155e14;
}

.food-waste {
    font-size: 55px;
    font-weight: bold;
    color: #f6f6e9;
    text-shadow: 2px 3px 3px rgba(57,57,57,0.51);
}

.sub-quote {
    font-size: 32px;
    font-style: italic;
    margin-top: 10px;
    color: #f6f6e9;
    text-shadow: 2px 3px 3px rgba(57,57,57,0.51);
}

.safdie {
    font-size: 24px;
    margin-top: 5px;
    color: #f6f6e9;
    text-shadow: 2px 3px 3px rgba(57,57,57,0.51);

}

.orange {
    color: #f2ae2b;
}

.green {
    color: #24b24e;
}

.flex-container {
    margin-top: 130px;
    margin-bottom: 760px;
    display: flex;
    height: 300px;
    display: flex;
    flex-wrap: wrap;
    height: 300px;
    gap: 10px;
}

.large-box {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 18px;
    background-color: #38682B;
    padding-top: 100px;
    padding-bottom: 100px;
}

.large-box img {
    max-width: 800px;
    max-height: 800px;
    object-fit: cover;
    z-index: 2;
}

.box.large-box {
    position: relative;
    overflow: hidden;
  }

.circle1 {
    width: 600px;
    height: 600px;
    background-color: #ffed2f; 
    position: absolute;
    bottom: -50px;
    right: -150px;
    border-radius: 50%;
    z-index: 1;
}

.circle2 {
    width: 600px;
    height: 600px;
    background-color: #ffed2f; 
    position: absolute;
    bottom: 500px;
    right: 500px;
    border-radius: 50%;
    z-index: 1;
}

.side-container {
    display: flex;
    flex-direction: column;
    flex: 1;
    flex-wrap: wrap;
    gap: 10px;
}

.small-box {
    background-color: rgb(245, 245, 245);
    flex: 1;
    display: flex;
    text-align: center;
    flex-direction: column;
    padding: 10px 150px;
    width: 500px;
}

.app-stores {
    display: flex;
    flex-direction: column;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.box-three {
    display: flex;
    line-height: 80px;
    justify-content: space-between;
    text-align: left;
    font-size: 20px;
}

.app-stores img{
    width: 40px;
    height: 40px;
    position: relative;
    top: 13px;
}

.download-button {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    position: relative;
    color: #00804a;
    top: 45px;
}

.button {
    background-color: #eef9f9;
    font-weight: 600;
    padding: 5px 10px;
    border-radius: 40px;
    line-height: 24px;
    display: inline-block;
    border: 1px solid;
}

.button:hover {
    background-color: #d9f6f6;
    cursor: pointer;
}

.download-text {
    color: rgb(56, 62, 67);
    font-size: 70px;
    line-height: 88px;
}

.download-subtext {
    font-size: 22px;
    line-height: 50px;
    color: rgb(56, 62, 67);
}

.tagline {
    text-transform: uppercase;
    color: #edffcc;
    font-size: 55px;
    max-width: 300px;
}

.phone {
    height: 400px;
    width: 400px;  
}

.left-tag {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    padding-left: 50px;
}

.learn-more {
    color: #edffcc;
    font-weight: 200;
    border: 1px solid #edffcc;
    border-radius: 40px;
    padding: 5px 20px;
    margin: 20px 0 0 0;
    font-size: 20;
}

.learn-more:hover {
    background-color: rgba(0,0,0,0.08);
    cursor: pointer;
    color: white;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-shadow: 2px 3px 3px rgba(57,57,57,0.51);
}

.banner-logo {
    position: relative;
    text-align: center;
    color: #edffcc;
    font-size: 90px;
    text-shadow: -1px 1px 7px rgba(0,0,0,0.49);
}

footer {
    background-color: #1f5014;
    font-size: 16px;
    padding-top: 10px;
    position: relative;
    height: 250px;
}

.container {
    font-family: Lato, sans-serif;
    font-size: 18px;
    padding: 0px 10px;
    position: static;
    box-sizing: border-box;
    height: 104px;
    width: 100%;
    text-align: center;
    display: flex;
    padding: 10px 200px;
    height: auto;
    justify-content: space-between;
}

  .row-left {
    float: left;
    width: 50%;
    height: 100%;
    text-align: left;
    max-width: 350px;
    max-height: 100px;
}

  .subfooter {
    width: 100%;
    height: 75px;
    background-color:  rgb(17, 17, 17);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05), 0 2px 5px rgba(0, 0, 0, 0.15);
    color: #757575;
    font-family: Lato, sans-serif;
    font-size: 18px;
    padding: 0px 200px;
    padding-top: 20px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
}

.policy {
    display: flex;
    padding-top: 10px;
}

.copyright {
    padding-top: 10px;
    margin: 0px;
}

.downloads img {
    display: block;
    max-width: 100%;
    height: auto;
    width: auto;
    max-height: 38px;
    padding-bottom: 10px;
}

.downloads {
    display: flex;
}

.vision-title {
    color: #f2ae2b;
    font-size: 24px;
}

.vision {
    color: #edffcc;
    font-family: Arial;
}

.row-middle img{
    flex-grow: 1;
    height: 150px;
    width: 150px;
}

.row-middle {
    color: #edffcc;
    height: 100%;
    font-size: 20px;
}

.tag {
    color: #f2ae2b;
    font-size: 24px;
}

.location, .socials {
    color: #edffcc;
    font-family: Arial;
}

.row-right {
    height: 100%;
}

.socials img {
    max-width: 30px;
    max-height: 30px;
}

.location img {
    max-width: 30px;
    max-height: 30px;
    position: relative;
    top: 5px;
}

.vertical {
    color: #f2ae2b;
    letter-spacing: .1em;
    text-transform: uppercase;
    font-weight: 900;
    position: absolute;
    right: 0;
    font-size: 24px;
    width: auto;
    z-index: 10;
    margin-top: 6rem;
    text-align: right;
    display: inline-block;
    transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    letter-spacing: 6px;
}